
body {
    background: #14273d;
    font-weight: 700;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: .2x ease-in;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 400px 1fr 1fr 1fr 1fr);
    margin-top: 20px;
    grid-gap: 20px;
    box-sizing: border-box;
    background-color: #17375b;
    color: #fff;
}
.navbar li{
    list-style: none;
    flex-wrap: wrap;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    flex-wrap: wrap;
}

.navbar li:nth-child(1){
    margin-right: 200px;
}
.navbar li:nth-child(2){
    margin-left: 340px;
}

.nav-link{
    text-align: center;
    padding: 10px 30px;
    padding-top: 5px;
    border-radius: 50px;
}

.nav-link:not(:first-of-type){
    background-color: #17375b;
    transition: transform .3s;
}
.nav-link:not(:first-of-type):hover{
    background-color: #4475e2;
    cursor: pointer;
    transform: translateY(5px);
}

/* Welcome Section */
.welcome-section{
    display: grid;
    grid-template-columns: repeat(2, 700px 1fr);
    align-items: center;
    color: #fff;
    min-height: calc(100vh - 211px - 58px);
}
.welcome-section-content{
    margin-left: 60px;
    margin-bottom: 100px;
}
.welcome-section-content h3{
    margin-top: -35px;
    color: #4475e2;
}
.welcome-section-content hr{
    width: 130px;
    margin-left: 0px;
    margin-top: -10px;
}
.welcome-section-content .button{
    border: none;
    outline: none;
    padding: 15px 45px;
    background: transparent;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: transform .3s;
    background-color: #17375b;
}
.welcome-section-content .button:hover{
    transform: translateY(5px);
    background-color: #4475e2;
}

/* Cards */

.container{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 220px;
    margin: 10px;
    border-radius: 15px;
    transition: .2s ease-in;
    pointer-events: auto;
}
.card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1{
    background-image: url("../assets/img1.jpg");
}
.card-2{
    background-image: url("../assets/img2.jpg");
}
.card-3{
    background-image: url("../assets/img3.jpg");
}
.card-4{
    background-image: url("../assets/img4.jpg");
}
.card-5{
    background-image: url("../assets/img5.jpg");
}

.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}
.card .button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    transition: transform .3s;
    background-color: #17375b;
    border-radius: 50px;
    cursor: pointer;
}
.card:hover{
    background: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
}
.card .button:hover{
    transform: translateY(5px);
    background-color: #4475e2;
}
/* Card Disabled */
.card_disabled{
    background: white;
    width: 220px;
    margin: 10px;
    border-radius: 15px;
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}
.card_disabled .button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    background-color: black;
    border-radius: 50px;
    cursor: not-allowed;
}

/* Popup */
.button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    transition: transform .3s;
    background-color: #17375b;
    border-radius: 50px;
    cursor: pointer;
}
button:hover{
    transform: translateY(5px);
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    pointer-events: none;
    opacity: 0;
}
.modal{
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}
.modal h1{
    margin: 0;
}
.modal p{
    font-size: 14px;
    opacity: 0.7;
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

/* Notes */

.notes{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: #4475e2;
    padding: 20px;
    font-size: 10px;
}
